*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

.GB{
    background-color: rgb(87, 87, 235); 

    display:flex ;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.logo-educa{
    width: 40%;
}

.GB-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 20%;


}
.escola{
display: flex;
align-items: center;
padding: 0 0;

}